
<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
@include './header.html'
	<div class="full">
			<div class="col-md-3 top-nav">
				     <div class="logo">
						<a href="index.html"><h1>
وبلاگ نویس</h1></a>
					</div>
					<div class="top-menu">
					 <span class="menu"> </span>

					<ul class="cl-effect-16">
						<li><a class="active" href="index.html" data-hover="HOME">صفحه اصلی</a></li> 
						<li><a href="about.html" data-hover="About">درباره ما</a></li>
						<li><a href="grid.html" data-hover="Grids">گرید ها</a></li>
						<li><a href="services.html" data-hover="Services">خدمات</a></li>
						<li><a href="gallery.html" data-hover="Gallery">گالری</a></li>
						<li><a href="contact.html" data-hover="CONTACT">تماس با ما</a></li>
					</ul>
					<!-- script-for-nav -->
					<script>
						$( "span.menu" ).click(function() {
						  $( ".top-menu ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
					</script>
				<!-- script-for-nav --> 	
				<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
					<ul class="side-icons">
							<li><a class="fb" href="#"></a></li>
							<li><a class="twitt" href="#"></a></li>
							<li><a class="goog" href="#"></a></li>
							<li><a class="drib" href="#"></a></li>
					   </ul>
			    </div>
			</div>
	<div class="col-md-9 main">
		<!--banner-section-->
		<div class="banner-section">
		   <h3 class="tittle">
عمومی <i class="glyphicon glyphicon-picture"></i></h3>
			<div class="banner">
                 <div  class="callbacks_container">
					<ul class="rslides" id="slider4">
					       <li>
							  <img src="{{url_for('static',filename='images/1.jpg')}}" class="img-responsive" alt="" />

							</li>
							<li>
								 <img src="{{url_for('static',filename='images/2.jpg')}}" class="img-responsive" alt="" />


							</li>
							<li>
							 <img src="{{url_for('static',filename='images/3.jpg')}}" class="img-responsive" alt="" />

							
							</li>
							<li>
							 <img src="{{url_for('static',filename='images/3.jpg')}}" class="img-responsive" alt="" />


							</li>
						</ul>
					</div>
					<!--banner-->
					<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
	  			
		 <div class="clearfix"> </div>
			    <div class="b-bottom"> 
			      <h5 class="top"><a href="single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></h5>
			      <p>On Aug 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
				</div>
			 </div>
			   <!--//banner-->
			  <!--/top-news-->
			  <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
			  <div class="top-news">
				<div class="top-inner">
					<div class="col-md-6 top-text">
						 <a href="single.html"><img src="{{url_for('static',filename='')}}images/pic1.jpg" class="img-responsive" alt=""></a>
						    <h5 class="top"><a href="single.html">کتابهای زیادی در شصت و سه درصد گذشته</a></h5>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
						    <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
					 </div>
					<div class="col-md-6 top-text two">
						 <a href="single.html"><img src="{{url_for('static',filename='')}}images/pic2.jpg" class="img-responsive" alt=""></a>
						    <h5 class="top"><a href="single.html">لورم ایپسوم متن ساختگی با تولید سادگی</a></h5>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
						    <p>On Jun 27 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
					 </div>
					 <div class="clearfix"> </div>
				 </div>
				 <div class="top-inner second">
					<div class="col-md-6 top-text">
						 <a href="single.html"><img src="{{url_for('static',filename='')}}images/pic3.jpg" class="img-responsive" alt=""></a>
						    <h5 class="top"><a href="single.html">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر</a></h5>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
						    <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
					 </div>
					<div class="col-md-6 top-text two">
						 <a href="single.html"><img src="{{url_for('static',filename='')}}images/pic4.jpg" class="img-responsive" alt=""></a>
						    <h5 class="top"><a href="single.html">لورم ایپسوم متن ساختگی با تولید سادگی</a></h5>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
						    <p>On Jun 27 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
					 </div>
					 <div class="clearfix"> </div>
				 </div>
	            </div>
					<!--//top-news-->
		     </div>
			<!--//banner-section-->
			<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
			<div class="banner-left-text">
			 <h3 class="tittle">اخبارها<i class="glyphicon glyphicon-facetime-video"></i></h3>
			<!--/general-news-->
			 <div class="general-news">
				<div class="general-inner">
					<div class="general-text">
						 <a href="single.html"><img src="{{url_for('static',filename='')}}images/gen1.jpg" class="img-responsive" alt=""></a>
						    <h5 class="top"><a href="single.html">لورم ایپسوم متن ساختگی</a></h5>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
						    <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
					 </div>
					 <div class="edit-pics">
							      <div class="editor-pics">
										 <div class="col-md-3 item-pic">
										   <img src="{{url_for('static',filename='')}}images/f4.jpg" class="img-responsive" alt="">

										   </div>
											<div class="col-md-9 item-details">
												<h5 class="inner two"><a href="single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h5>
												 <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
											 </div>
											<div class="clearfix"></div>
										</div>
										<div class="editor-pics">
										 <div class="col-md-3 item-pic">
										   <img src="{{url_for('static',filename='')}}images/f1.jpg" class="img-responsive" alt="">

										   </div>
											<div class="col-md-9 item-details">
												<h5 class="inner two"><a href="single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h5>
												 <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
											 </div>
											<div class="clearfix"></div>
										</div>
										<div class="editor-pics">
										 <div class="col-md-3 item-pic">
										   <img src="{{url_for('static',filename='')}}images/f1.jpg" class="img-responsive" alt="">

										   </div>
											<div class="col-md-9 item-details">
												<h5 class="inner two"><a href="single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h5>
												 <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
											 </div>
											<div class="clearfix"></div>
										</div>
										<div class="editor-pics">
										 <div class="col-md-3 item-pic">
										   <img src="{{url_for('static',filename='')}}images/f4.jpg" class="img-responsive" alt="">

										   </div>
											<div class="col-md-9 item-details">
												<h5 class="inner two"><a href="single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h5>
												 <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
											 </div>
											<div class="clearfix"></div>
										</div>
									</div>
								<div class="media">	
								 <h3 class="tittle media">رسانه ها<i class="glyphicon glyphicon-floppy-disk"></i></h3>
								  <div class="general-text two">
									 <a href="single.html"><img src="{{url_for('static',filename='')}}images/gen3.jpg" class="img-responsive" alt=""></a>
										<h5 class="top"><a href="single.html">لورم ایپسوم متن ساختگی</a></h5>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
										<p>On Jun 27 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
								  </div>
					         </div>
					    <div class="general-text two">
						    <a href="single.html"><img src="{{url_for('static',filename='')}}images/gen2.jpg" class="img-responsive" alt=""></a>
						    <h5 class="top"><a href="single.html">لورم ایپسوم متن ساختگی</a></h5>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
						    <p>On Jun 27 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
					    </div>
				 </div>
			</div>	
			<!--//general-news-->
			<!--/news-->
			<!--/news-->
			<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
		 </div>
			<div class="clearfix"> </div>
	<!--/footer-->
@include './footer.html'
